<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>张三 - 1</string>
		<key>age</key>
		<string>18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三 - 2</string>
		<key>age</key>
		<string>18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三 - 3</string>
		<key>age</key>
		<string>18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三 - 4</string>
		<key>age</key>
		<string>18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三 - 5</string>
		<key>age</key>
		<string>18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三 - 6</string>
		<key>age</key>
		<string>18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三 - 7</string>
		<key>age</key>
		<string>18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三 - 8</string>
		<key>age</key>
		<string>18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三 - 9</string>
		<key>age</key>
		<string>18</string>
	</dict>
</array>
</plist>
